<h1 style="text-align: center;">Welcome to my channel</h1>


<p><b>Welcome</b> : {{name}}</p> 
   <p> <b>From</b> {{location}}</p>

<p><b>Status</b> : {{getStatus()}}</p>

<button type="button" class="btn btn-danger"(click)="getMessage()">Save</button>




<div class="row">
<div class="col-md-4 offset-md-4"  >
    <div class="card">
        <div class="card-header">
            <h4 class="text-center">Two Way Binding</h4>
        </div>
        <div class="card-body">
            <input type="text" class="form-control" [(ngModel)]="Message"> 
            <b class="text-danger">{{Message}} </b>
        </div>
    </div>
</div>
</div>

<div class="row">
    <button type="button" class="btn btn-link" (click)="goToRegister()">Go To Register</button>

</div>


<table class="table">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>

    <tr *ngFor="let item of tableData">
        <td>{{item.productName}}</td>
        <td>{{item.productQuantity}}</td>
        <td>{{item.productPrice}}</td>

    </tr>
</table>