
<div class="container-fluid">

    <h2>Page 2</h2>
    <p>register works!</p>
    
    <div class="row">
        <button type="button" class="btn btn-link" (click)="goToUser()">Go To User</button>
    
    </div>
    
    <div class="row" *ngIf="active" style="background-color: pink; border: 1px solid;">
        <div class="col-md-3">
        <h3>Welcome {{firstName}} </h3>
    </div>
    </div>
    
    <div class="row">
        <table class="table">
            <tr>
                <th><i class="fa fa-user fa-lg" aria-hidden="true"></i> Name</th>
                <th>Code</th>
                <th>Country</th>
            </tr>
            <tr *ngFor="let item of datalist">
               <td><strong>{{item.name}}</strong></td> 
               <td>{{item.code}}</td> 
               <td>{{item.country}}</td> 
               <td><i class="fa fa-forward" aria-hidden="true"></i></td>
    
            </tr>
        </table>
    </div>
    <div class="row">
        <div [ngSwitch] ="name">
            <div *ngSwitchCase= "'khalil'">Welcome khalil</div>
            <div *ngSwitchCase= "'mousa'">Welcome mousa</div>
    
        </div>
    </div>
    </div>